<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "se.gu.spraakbanken.gissaparti"
version = "1.0.0">

	<name>GissaParti</name>

	<description>
	Gissa på vilket parti en mening kommer ifrån
	</description>

	<author href="http://olof.borsna.se" email="borsna@gmail.com">
	Olof Olsson
	</author>
        
        <access origin="http://spraakbanken.gu.se" />
        <preference name="phonegap-version" value="3.1.0" />

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>
	
	<icon src="assets/img/icon.png" gap:role="default" />
        <icon src="assets/img/icon-mdpi.png" platform="android" width="48" height="48" density="mdpi" />
        <icon src="assets/img/icon-hdpi.png" platform="android" width="72" height="72" density="hdpi" />
        <icon src="assets/img/icon-xhdpi.png" platform="android" width="96" height="96" density="xhdpi" />
        <icon src="assets/img/icon-xxhdpi.png" platform="android" width="144" height="144" density="xxhdpi" />
        <icon src="assets/img/icon-xxxhdpi.png" platform="android" width="192" height="192" density="xxxhdpi" />
        
	<feature name="http://api.phonegap.com/1.0/network"/>
</widget>