#random{
    color:gray;
    padding:5px;
	display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border:1px solid gray;
    -moz-border-radius: 3px;
     border-radius: 3px;
}

#info{
	display: block;
}

#game-info{
	margin-bottom:5px;
	margin-top: 5px;
}

#guessParty, #parties{
    padding-left: 0px;
	list-style-type: none;
}

.home{
	clear:both;
}

#parties{margin-top: 5px;}

.correct{background-color:#0acb00 !important;}
.wrong{background-color:#ff4f4f !important;}

#game-footer{
	position:absolute;bottom:0;
}

progress{
    border: 1px solid black;
}


#score{
    list-style-type: none;
    display:block;
    clear:both;
    padding-left: 0px;
}
#score li{
    display:inline;
    width:47px;
    height: 47px;
    float:left;
    
    border : 1px solid gray;
    margin-bottom: 3px;
    margin-right: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #d6d6d6;
}

.party{
    height: 26px;
    background-repeat:no-repeat;
    text-align:left;
    padding-left: 49px !important;

}



.m{background-image:url('../img/partisymboler/m.png');}
.s{background-image:url('../img/partisymboler/s.png');}
.c{background-image:url('../img/partisymboler/c.png');}
.v{background-image:url('../img/partisymboler/v.png');}
.fp{background-image:url('../img/partisymboler/fp.png');}
.sd{background-image:url('../img/partisymboler/sd.png');}
.mp{background-image:url('../img/partisymboler/mp.png');}
.pp{background-image:url('../img/partisymboler/pp.png');}
.fi{background-image:url('../img/partisymboler/fi.png');}
.nyd{background-image:url('../img/partisymboler/nyd.png');}
.kd{background-image:url('../img/partisymboler/kd.png');}
.all{background-image:url('../img/partisymboler/all.png');}

.rg{background-image:url('../img/partisymboler/rg.png');}
.jr{background-image:url('../img/partisymboler/jr.png');}
.la{background-image:url('../img/partisymboler/la.png');}
.labp{background-image:url('../img/partisymboler/labp.png');}
.lisp{background-image:url('../img/partisymboler/lisp.png');}
.npf{background-image:url('../img/partisymboler/npf.png');}
.k_h{background-image:url('../img/partisymboler/k_h.png');}
.k_k{background-image:url('../img/partisymboler/k_k.png');}
.svp{background-image:url('../img/partisymboler/svp.png');}
.lp{background-image:url('../img/partisymboler/lp.png');}